body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  width: 100%;
  text-align: left;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: black;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: black;
}

a {
  color: rgb(65, 105, 225);
}

p {
  font-size: 1.1em;
  line-height: 1.5;
  color: black;
  margin-bottom: 1em;
}

.image-container {
  max-width: 50%;
  height: auto;
  float: right;
  margin-left: 20px;
}

img {
  width: 100%;
  height: auto;
}

ul,
ol {
  margin-left: 20px;
  margin-bottom: 1em;
  padding-left: 20px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
  font-size: 1.1em;
  line-height: 1.5;
  color: black;
}
li:not(:last-child) {
  margin-bottom: 0.5em;
}
