<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.jinja' %}
    <link rel="canonical" href="https://pilateswithfilomena.com/about-faq.html" />
    <title>Frequently Asked Questions - Pilates with Filomena</title>
  </head>
  <body class="secondary">
    {% with location='about-faq' %} {% include 'menu.jinja' %} {% endwith %}

    <div class="container">
      <h1 class="secondary-title">Frequently Asked Questions</h1>

      <h2 class="secondary-sub-title">Why should I do Pilates?</h2>
      <p>
        Let's discuss the overall benefits of Pilates. It's a low-impact strength training method that focuses on
        alignment, posture, core strength, and stability. Pilates improves muscle tone, endurance, flexibility,
        mobility, and balance, helping you feel more comfortable and confident in your body.
      </p>
      <p>
        When starting a Pilates program, understanding your "why" is crucial for consistency and achieving results.
        Pilates can be challenging, and mastering the correct movement patterns takes time before it becomes enjoyable.
        Without a strong "why," you're more likely to give up.
      </p>

      <h2 class="secondary-sub-title">What are the principles of Pilates?</h2>
      <p>
        The six principles of Pilates are Breath (in Pilates we use lateral breading), Concentration (the focuses stays
        on the body in its correct movement pattern), Control (executing movements with intention and assertiveness),
        Precision (performing movements with accuracy), Centre (engaging the core muscles), and Flow (transitioning
        smoothly between movements).
      </p>

      <h2 class="secondary-sub-title">What can I expect from a Pilates class?</h2>
      <p>
        A Pilates class, whether performed on a mat or using apparatus, is a full-body workout. You won't necessarily be
        dripping with sweat as you might in a Zumba class; however, you will intensely work your muscles, with a strong
        emphasis on your core.
      </p>
      <p>
        Pilates classes focus on building strength and endurance. While the exercises might look easy or simple from the
        outside, don't let yourself be fooled! Pilates exercises need to be performed slowly and with control,
        incorporating precise movements and correct breathing patterns. You can expect the class to be challenging, and
        you'll most likely feel sore the next day!
      </p>
      <p>
        It's a common misconception that staying fit requires you to drip with sweat and be exhausted by the end of the
        class. This typically doesn't happen in a Pilates class. However, if you practice regularly (a minimum of 2 to 3
        times a week), you will start to notice significant changes in your body shape, overall muscular strength, and
        improvements in mobility, flexibility, balance, and posture.
      </p>

      <h2 class="secondary-sub-title">Is Pilates effective for weight loss?</h2>
      <p>
        Pilates can assist with weight loss and management. However, achieving your goals requires a supportive and
        healthy diet, ideally prescribed by a nutritionist, adequate hydration, sufficient relaxation and sleep,
        increased movement, and other physical activities.
      </p>

      <h2 class="secondary-sub-title">Is Pilates effective for stress management?</h2>
      <p>
        Pilates can be quite valuable for stress management. It's a practice that integrates and relies on the mind-body
        connection, encouraging total focus (concentration) during movement.
      </p>
      <p>
        All movements are performed slowly and with control, helping participants focus on their body and the present
        moment, similar to meditation. By concentrating on breath and movement, Pilates can shift attention away from
        mental stressors, providing a break.
      </p>
      <p>
        Regarding the body, tight muscles are a symptom of stress, which can result in physical discomfort and/or pain.
        By incorporating dynamic stretching, Pilates helps increase flexibility and range of motion. As muscles become
        more pliable, muscular tension is released, allowing for the body to relax.
      </p>

      <h2 class="secondary-sub-title">Is Pilates expensive?</h2>
      <p>
        Mat-based Pilates is likely the least expensive option, with the advantage of being practiced anywhere due to
        the absence of apparatus constraints.
      </p>
      <p>
        Apparatus-based Pilates classes are more expensive because the equipment is costly, and space limitations
        restrict the number of clients per session.
      </p>
      <p>
        Private Pilates classes, though more expensive, offer personalized sessions tailored to your specific goals.
        Group classes are less costly, but prices vary based on location, studio rent, group size, and the use of small
        equipment like balls, BUSO balls, balance discs, sliders, resistance bands, foam rollers, magic circles, and
        blocks.
      </p>

      <h2 class="secondary-sub-title">Why should I care about my posture?</h2>
      <p>
        Good posture can help you avoid common aches and pains in your back, neck, and shoulders. Maintaining a safe and
        dynamic posture can help prevent injuries.
      </p>
      <p>Correct posture reduces wear and tear on your joints by minimizing stress.</p>
      <p>Bad, slouchy posture can lead to:</p>
      <ul>
        <li>Back and neck pain</li>
        <li>Headaches</li>
        <li>Reduced range of motion and poor balance</li>
        <li>Incontinence and constipation</li>
        <li>Heartburn and slowed digestion</li>
        <li>Spine conditions like kyphosis</li>
      </ul>

      <h2 class="secondary-sub-title">Are Pilates and Yoga the same?</h2>

      <p>
        No, they are not. The following explanation is a brief overview, and therefore, some details will be omitted.
        However, here's a short clarification:
      </p>
      <p>
        Yoga emphasizes flexibility and works larger muscle groups, while Pilates focuses on muscle toning, body
        control, alignment, and core strength. Yoga is generally less fast-paced than Pilates.
      </p>
      <p>
        Yoga primarily involves holding static poses, whereas Pilates uses dynamic movements to challenge body
        stability. Pilates is based on six key principles: breathing, centering, concentration, control, flow, and
        precision.
      </p>
      <p>
        Still confused? Don't be! Pilates was developed by Joseph Pilates a gymnast, bodybuilder, and martial artist who
        also practiced boxing, yoga, and worked as a circus performer. Thus, his method is a blend of many modalities,
        which explains the similarities to other sports.
      </p>
    </div>

    {% include 'contact.jinja' %}
  </body>
</html>
