<!doctype html>
<html lang="en">
  <head>
    {% include 'header.jinja' %}
    <link rel="canonical" href="https://pilateswithfilomena.com/about-filomena" />
    <title>About Filomena - Pilates with Filomena</title>
  </head>
  <body class="secondary">
    {% with location='about-filomena' %} {% include 'menu.jinja' %} {% endwith %}

    <div class="container">
      <h1 class="secondary-title">About Filomena</h1>
      <div class="image-container">
        <img src="photos/filomena.jpg" alt="Filomena" />
      </div>

      <p>
        Filomena holds an MSc, a PhD, and is a certified Pilates teacher specialising in Traditional Pilates, Mat
        Pilates, Functional Reformer, and Wunda Chair. She is fully accredited by the YMCA Awards and CIMSPA.
      </p>
      <p>
        She has undertaken continued professional development in Neurology applied to Pilates, Knee Arthroplasty
        Prehabilitation and Surgical Rehabilitation, Hip and Knee Strengthening, and Breathwork.
      </p>
      <p>
        Her commitment to Pilates and holistic fitness began in 2023 after overcoming full-body hypotonia and muscle
        atrophy through intensive physical therapy and a rehabilitation-focused Pilates programme she designed herself.
        Her extensive study of biomechanics, anatomy, holistic rehabilitation, and mental rehearsal techniques
        ultimately led her to pursue formal Pilates training.
      </p>
      <p>
        Today, Filomena’s practice focuses on helping clients reconnect with their bodies, improve mobility, develop
        postural strength, and build long-term physical resilience. Her approach combines traditional and contemporary
        Pilates with functional movement, endurance training, and evidence-based techniques such as breathwork and
        active visualisation to support lasting transformation, nervous system regulation, and confident movement.
      </p>

      <header class="quote-small">
        <i>The Mantra:</i><br />
        <i>The way we train our bodies shapes the way we train our minds.</i>
      </header>
    </div>

    {% include 'contact.jinja' %}
  </body>
</html>
