<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.jinja' %}
    <link rel="canonical" href="https://pilateswithfilomena.com/classes.html" />
    <title>Classes - Pilates with Filomena</title>
  </head>
  <body class="secondary">
    <svg class="svg-sprite">
      <symbol id="external-link-icon" viewBox="0 0 24 24">
        <path
          d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59L7.76 13.83l1.41 1.41L19 6.41V10h2V3h-7z"
        />
      </symbol>
    </svg>

    {% with location='classes' %} {% include 'menu.jinja' %} {% endwith %}

    <img src="photos/andrea-piacquadio-868483-pexels.jpg" alt="class" style="width: 100%" />

    <div class="container" style="padding-bottom: 20px">
      <h1 class="secondary-title" style="padding-top: 0">Pilates Classes</h1>

      <h2 class="secondary-sub-title">Gym Group Classes</h2>

      <p>
        These classes offer a full-body workout combining classical and contemporary Pilates with functional exercises.
        The focus is on developing core strength, building overall muscle strength, and improving posture.
      </p>

      <p>
        Please refer to our
        <a href="https://maps.app.goo.gl/r7Xhqm6rBbyR4peq9">Wembley Fitness</a>
        classes, <i>Pilates (Contrology)</i> at the gym's studio, schedule:
      </p>
      <ul>
        <li>Thursdays, from 17:00 to 18:00</li>
        <li>Fridays, from 19:00 to 20:00</li>
        <li>Saturdays, from 11:55 to 12:55</li>
      </ul>

      <p>Please arrive 5 minutes earlier so that we can start on time.</p>
      <p>Make sure to wear comfortable clothes such, as a t-shirt, sports leggings, and Pilates socks.</p>
      <p>All equipment will be provided by the gym. However, feel free to bring your own mat, if you prefer.</p>
      <p>
        <b>If you are new, please fill in your <a href="parq.html">PAR-Q</a> before class.</b>
      </p>

      <br />
      <h1>Booking Options:</h1>
    </div>

    <div class="cards-flex-container">
      <div class="card">
        <h3>Welcome Offer:<br />Buy 2 get 1 free</h3>
        <div class="price">
          £20
          <span class="sub-price">(£6.67 per class)</span>
        </div>
        <ul>
          <li>New clients only</li>
          <li>3 classes for price of 2</li>
          <li>24 hour cancellation</li>
          <li>1 month expiration</li>
        </ul>
        <a href="buy-classes.html?option=welcome-pack" class="buy-link">Buy</a>
      </div>

      <div class="card">
        <h3>1 Class</h3>
        <div class="price">£10</div>
        <ul>
          <li>24 hour cancellation</li>
        </ul>
        <a href="buy-classes.html?option=1-class" class="buy-link">Buy</a>
      </div>

      <div class="card">
        <h3>1 Class - Eventbrite</h3>
        <div class="price">£11.55</div>
        <ul>
          <li>24 hour cancellation</li>
          <li>Price includes Eventbrite non-refundable £1.55 booking fee</li>
        </ul>
        <a href="https://pilateswithfilomena.eventbrite.co.uk/" class="buy-link" target="_blank"
          >Book on Eventbrite<svg><use href="#external-link-icon"></use></svg>
        </a>
      </div>

      <div class="card">
        <h3>4 Classes pack</h3>
        <div class="price">
          £35
          <span class="sub-price">(£8.75 per class)</span>
        </div>
        <ul>
          <li>2 months expiration</li>
          <li>24 hour cancellation</li>
          <li>1 late cancellation</li>
        </ul>
        <a href="buy-classes.html?option=4-classes" class="buy-link">Buy</a>
      </div>

      <div class="card">
        <h3>8 Classes pack</h3>
        <div class="price">
          £65
          <span class="sub-price">(£8.23 per class)</span>
        </div>
        <ul>
          <li>3 months expiration</li>
          <li>24 hour cancellation</li>
          <li>1 late cancellation</li>
        </ul>
        <a href="buy-classes.html?option=8-classes" class="buy-link">Buy</a>
      </div>

      <div class="card">
        <h3>Wembley Fitness App</h3>
        <ul>
          <li>Listed as <i>Pilates (Contrology)</i></li>
          <li>Managed by Wembley Fitness, contact them for prices, memberships, and cancellation policies</li>
        </ul>
        <a href="https://www.wembleyfitness.co.uk/classes" class="buy-link" target="_blank"
          >Book on Wembley Fitness<svg>
            <use href="#external-link-icon"></use>
          </svg>
        </a>
      </div>

      <!--
      <div class="card" style="justify-content: flex-start !important">
        <h3>Intro to Pilates Pack</h3>
        <ul style="flex-grow: 0">
          <li>Learn the basics of Pilates</li>
        </ul>
        <h1 style="font-size: 3em; text-align: center; width: 100%">Coming soon!</h1>
      </div>
      -->
    </div>

    <br />
    <div class="container">
      <h1>Private Classes</h1>

      <p>
        Mat-based or standing Pilates classes offer tailored solutions for specific goals, from correction and recovery
        to body strengthening or sculpting. Our personalized attention maximizes results.
      </p>
      <p>
        Currently only in person classes are available.
        <u>Online classes coming soon!</u>
      </p>
      <p>Classes can take place in the comfort of your home.</p>
    </div>
    <div class="cards-flex-container">
      <div class="card">
        <h3>1 Class</h3>
        <div class="price">£75</div>
        <ul>
          <li>1-2-1 coaching</li>
          <li>60 minutes session</li>
          <li>24 hour cancellation</li>
        </ul>
        <a href="enquire.html?option=1-private-class" class="buy-link">Enquire Now</a>
      </div>
      <div class="card">
        <h3>8 Classes - 5% off</h3>
        <div class="price">
          £570
          <span class="sub-price">(£71.25 per class)</span>
        </div>
        <ul>
          <li>Bespoke exercise plan</li>
          <li>2 months expiration</li>
          <li>24 hour cancellation</li>
          <li>1 late cancellation</li>
        </ul>
        <a href="enquire.html?option=8-private-classes" class="buy-link">Enquire Now</a>
      </div>
      <div class="card">
        <h3>12 Classes - 10% off</h3>
        <div class="price">
          £810
          <span class="sub-price">(£67.50 per class)</span>
        </div>
        <ul>
          <li>Bespoke exercise plan</li>
          <li>3 months expiration</li>
          <li>24 hour cancellation</li>
          <li>2 late cancellations</li>
        </ul>
        <a href="enquire.html?option=12-private-classes" class="buy-link">Enquire Now</a>
      </div>
    </div>

    <div class="container">
      <br />

      <h2 class="secondary-sub-title">Private Small Group Classes</h2>

      <p>
        Mat-based and standing Pilates classes. These classes are well-rounded full-body workouts, ideal for
        strengthening or sculpting. For small groups, from 2 to 3 people.
      </p>
      <p>
        Currently only in person classes are available.
        <u>Online classes coming soon!</u>
      </p>
      <p>Classes will take place in the comfort of your home.</p>
    </div>
    <div class="cards-flex-container">
      <div class="card">
        <h3>1 Class</h3>
        <div class="price">£35/person</div>
        <ul>
          <li>For 2 to 3 people</li>
          <li>Personalized coaching</li>
          <li>60 minutes session</li>
          <li>24 hour cancellation</li>
        </ul>
        <a href="enquire.html?option=1-private-group-class" class="buy-link">Enquire Now</a>
      </div>
      <div class="card">
        <h3>8 Classes - 5% off</h3>
        <div class="price">£33.25/person per class</div>
        <ul>
          <li>Bespoke exercise plan</li>
          <li>2 months expiration</li>
          <li>24 hour cancellation</li>
          <li>1 late cancellation</li>
        </ul>
        <a href="enquire.html?option=8-private-group-classes" class="buy-link">Enquire Now</a>
      </div>
      <div class="card">
        <h3>12 Classes - 10% off</h3>
        <div class="price">£31.50/person per class</div>
        <ul>
          <li>Bespoke exercise plan</li>
          <li>3 months expiration</li>
          <li>24 hour cancellation</li>
          <li>2 late cancellations</li>
        </ul>
        <a href="enquire.html?option=12-private-group-classes" class="buy-link">Enquire Now</a>
      </div>
    </div>

    {% include 'contact.jinja' %}
  </body>
</html>
