<!-- CONTACT -->
<section id="contact">
  <header>
    <h2>Contact Us!</h2>
    <p>
      email:
      <a href="mailto:pilateswithfilomena@gmail.com"
        >pilateswithfilomena@gmail.com</a
      >
      <br />
      phone: <a href="tel:07379841186">07379841186</a>
    </p>
  </header>
  <footer>
    Contact us by email or phone (including WhatsApp).
    <br />
    Currently based in Wembley.
    <br />
    <br />
    <h3>Take action: Extend your mat for your health.</h3>
  </footer>
</section>
<!--  -->
