<!-- CONTACT -->
<section id="contact">
  <header>
    <h2>Contact Us!</h2>
    <p>
      <a href="mailto:info@pilateswithfilomena.com"
        >info@pilateswithfilomena.com</a
      >
      <br />
      <a href="tel:+447379841186">+44 7379 84 11 86</a>
      <br />
      Currently based in Wembley, London, UK.
    </p>
    {% include 'subscribe.jinja' %}
  </header>
  <footer class="copyright">Copyright &copy; 2025 Pilates with Filomena | <a href="credits">Credits</a> | <a href="qr-codes">QR Codes</a> </footer>
</section>
<!--  -->
