<!-- CONTACT -->
<section id="contact">
  <header>
    <h2>Contact Us!</h2>
    <p>
      email:
      <a href="mailto:info@pilateswithfilomena.com"
        >info@pilateswithfilomena.com</a
      >
      <br />
      phone: <a href="tel:07379841186">07379841186</a>
    </p>
  </header>
  <footer>
    Contact us by email or phone (including WhatsApp).
    <br />
    Currently based in Wembley, London, UK.
    <br />
  </footer>
  <footer class="copyright">Copyright &copy; 2025 Pilates with Filomena | <a href="credits.html">Credits</a></footer>
</section>
<!--  -->
