<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.jinja' %}
    <link rel="canonical" href="https://pilateswithfilomena.com/credits.html" />
    <title>Credits - Pilates with Filomena</title>
  </head>
  <body class="secondary">
    {% include 'menu.jinja' %}

    <div class="container">
      <h1 class="secondary-title">Credits</h1>

      Image sources, for credits and original photos before any modification. A big thank you to all artists. To know
      more of their work, check the links:
      <ol>
        <li>
          <a
            href="https://unsplash.com/fr/photos/un-groupe-de-personnes-dans-une-salle-de-sport-faisant-des-pompes-lZtlFjRdR5I"
            >jessica-streser-lZtlFjRdR5I-unsplash</a
          >
        </li>
        <li>
          <a href="https://unsplash.com/photos/two-men-wearing-boxing-gloves-HG1pkXN7SVA"
            >johann-walter-bantz-HG1pkXN7SVA-unsplash</a
          >
        </li>
        <li>
          <a href="https://unsplash.com/photos/woman-in-white-scrub-suit-holding-white-and-green-hose-hl6uG9cHW5A"
            >jonathan-borba-hl6uG9cHW5A-unsplash</a
          >
        </li>
        <li>
          <a href="https://pixabay.com/photos/dentist-dental-care-dentistry-teeth-2530990/"
            >joseph-shohmelian-pixabay-1</a
          >
        </li>
        <li>
          <a href="https://pixabay.com/photos/dentist-dental-office-dentistry-2530994/">joseph-shohmelian-pixabay-2</a>
        </li>
        <li>
          <a href="https://www.pexels.com/photo/a-woman-guiding-an-exercising-man-6111580/"
            >kampus-production-a-woman-guiding-an-exercising-man-6111580</a
          >
        </li>
        <li>
          <a
            href="https://unsplash.com/photos/man-in-blue-and-white-plaid-dress-shirt-sitting-on-chair-using-laptop-computer-Sf91sSGjg5k"
            >linkedin-sales-solutions-Sf91sSGjg5k-unsplash</a
          >
        </li>
        <li>
          <a href="https://unsplash.com/photos/man-in-white-dress-shirt-cutting-hair-of-man-J99pG-3RHwc"
            >michael-demoya-J99pG-3RHwc-unsplash</a
          >
        </li>
        <li>
          <a href="https://www.pexels.com/photo/group-of-woman-doing-yoga-868483/">andrea-piacquadio-868483-pexels</a>
        </li>
        <li>
          <a href="https://www.pexels.com/photo/woman-touching-her-back-4506105/">
            karolina-grabowska-kaboompics-com-4506105-pexels
          </a>
        </li>
        <li>
          <a href="https://www.pexels.com/photo/person-people-woman-relaxation-7530023/">
            mikhall-nilov-7530023-pexels
          </a>
        </li>
        <li>
          <a href="https://www.pexels.com/photo/a-boxer-training-in-a-gym-6295835/">pavel-danilyuk-6295835-pexels</a>
        </li>
        <li>
          <a href="https://www.pexels.com/photo/a-massage-therapist-holding-patient-s-foot-5793920/"
            >yan-krukau-5793920-pexels</a
          >
        </li>
        <li>
          <a href="https://www.pexels.com/photo/elderly-woman-doing-yoga-7530019/">mikhall-nilov-7530019-pexels</a>
        </li>
        <li>
          <a href="https://www.pexels.com/photo/a-woman-guiding-a-man-in-rehabilitation-6111592/"
            >kampus-production-6111592-pexels</a
          >
        </li>
        <li>
          <a href="https://www.pexels.com/photo/crop-anonymous-chiropractor-examining-spine-of-fit-lady-in-hospital-4506110/">
            karolina-grabowska-kaboompics-com-4506110-pexels
          </a>
        </li>
      </ol>
    </div>

    {% include 'contact.jinja' %}
  </body>
</html>
