<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.jinja' %}
    <link rel="canonical" href="https://pilateswithfilomena.com/events.html" />
    <title>Credits - Pilates with Filomena</title>
  </head>
  <body class="secondary">
    {% include 'menu.jinja' %}

    <div class="container">
      <h1 class="secondary-title">Credits</h1>

      Website links include original photo credits. The following list includes direct sources for more explicit credits
      and original photos before any modification.
      <ol>
        <li>
          <a
            href="https://unsplash.com/fr/photos/un-groupe-de-personnes-dans-une-salle-de-sport-faisant-des-pompes-lZtlFjRdR5I"
            >jessica-streser-lZtlFjRdR5I-unsplash</a
          >
        </li>
        <li>
          <a href="https://unsplash.com/photos/two-men-wearing-boxing-gloves-HG1pkXN7SVA"
            >johann-walter-bantz-HG1pkXN7SVA-unsplash</a
          >
        </li>
        <li>
          <a href="https://unsplash.com/photos/woman-in-white-scrub-suit-holding-white-and-green-hose-hl6uG9cHW5A"
            >jonathan-borba-hl6uG9cHW5A-unsplash</a
          >
        </li>
        <li>
          <a href="https://pixabay.com/photos/dentist-dental-care-dentistry-teeth-2530990/"
            >joseph-shohmelian-pixabay-1</a
          >
        </li>
        <li>
          <a href="https://pixabay.com/photos/dentist-dental-office-dentistry-2530994/">joseph-shohmelian-pixabay-2</a>
        </li>
        <li>
          <a href="https://www.pexels.com/photo/a-woman-guiding-an-exercising-man-6111580/"
            >kampus-production-a-woman-guiding-an-exercising-man-6111580</a
          >
        </li>
        <li>
          <a
            href="https://unsplash.com/photos/man-in-blue-and-white-plaid-dress-shirt-sitting-on-chair-using-laptop-computer-Sf91sSGjg5k"
            >linkedin-sales-solutions-Sf91sSGjg5k-unsplash</a
          >
        </li>
        <li>
          <a href="https://unsplash.com/photos/man-in-white-dress-shirt-cutting-hair-of-man-J99pG-3RHwc"
            >michael-demoya-J99pG-3RHwc-unsplash</a
          >
        </li>
      </ol>
    </div>

    {% include 'contact.jinja' %}
  </body>
</html>
