<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.jinja' %}
    <link rel="canonical" href="https://pilateswithfilomena.com/dentists.html" />
    <title>Pilates for Dentists - Pilates with Filomena</title>
    <style>
      h2 {
        margin-top: 40px;
      }
    </style>
  </head>
  <body class="secondary">
    {% include 'menu.jinja' %}

    <img src="photos/jonathan-borba-hl6uG9cHW5A-unsplash-banner.jpg" alt="dentists" style="width: 100%" />

    <div class="container" style="padding-bottom: 20px">
      <h1 class="secondary-title" style="padding-top: 0">
        Pilates for Dentists: relieve back pain, improve posture, reduce tension, and prevent musculoskeletal issues
      </h1>

      <h2 class="secondary-sub-title">Why Dentists Need Pilates</h2>
      <p>
        As a dentist, you spend hours in static positions, performing repetitive and precise movements that put strain
        on your spine, neck, shoulders, and wrists. Over time, this often leads to:
      </p>
      <ul>
        <li>Chronic neck, back, and shoulder pain</li>
        <li>Postural misalignment and muscular imbalances</li>
        <li>Reduced mobility and muscle tension</li>
        <li>Burnout and decreased work performance</li>
        <li>Increased risk of musculoskeletal disorders and early retirement</li>
      </ul>

      <p>
        <b>Our Pilates for Dental Professionals is a targeted solution designed to help you to:</b>
      </p>
      <ul>
        <li>Gently recondition the body with controlled movement</li>
        <li>Prevent, reduces and helps to manage back and neck pain</li>
        <li>Strengthen your core</li>
        <li>Improve posture</li>
        <li>Restore joint mobility and functional movement</li>
        <li>Relieve stress</li>
      </ul>

      <p>
        Don't let pain or poor posture limit your career. With our Pilates programs tailored for dental professionals,
        you can stay healthy, strong, and pain-free, so you can keep doing the work you love for many years to come -
        Train with me. Adapt. Become anti-fragile.
      </p>

      <style>
        /* overrides main one */

        .image-container {
          display: flex;
          flex-direction: row;
          width: 100%;
          overflow: hidden;
          max-width: 100%;
          padding-top: 20px;
          padding-bottom: 40px;
          gap: 5px;
        }

        .image-item img {
          display: block;
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        .image-item {
          width: 50%;
        }
      </style>
      <div class="image-container">
        <div class="image-item">
          <img src="photos/joseph-shohmelian-pixabay-1.jpg" />
        </div>
        <div class="image-item">
          <img src="photos/joseph-shohmelian-pixabay-2.jpg" />
        </div>
      </div>

      <h2 class="secondary-sub-title">Why Pilates with Filomena</h2>

      <p>
        You might be wondering, “Why should I trust you?” I've been where you are. I created this program after healing
        from physiological muscle atrophy and chronic back pain both related to my work and a sedentary lifestyle.
        Pilates changed my life, and now I help others do the same.
        <a href="about-filomena.html">Read my full story here</a>.
      </p>

      <h2 class="secondary-sub-title">What I Offer</h2>

      <h3>✦ Personalized Pilates for Dentists</h3>

      <p>
        Tailored programs based on your physical symptoms, schedule, and goals. No generic routines — only what your
        body needs.
      </p>

      <h3>✦ Onsite, Online, or At-Home Options</h3>

      <p>Sessions available at your clinic, in your home, or online — whichever suits your lifestyle.</p>

      <h3>✦ Mat-Based & Equipment-Inspired Training</h3>

      <p>
        Even without apparatus, I adapt Pilates methods to deliver all the Pilates benefits using just a mat and simple
        props.
      </p>

      <h3>✦ Real Results, Sustainably Achieved</h3>

      <p>
        Whether you're recovering from pain or preventing it, we build strength gradually, safely, and with long-term
        support.
      </p>

      <h2 class="secondary-sub-title">Packages & Pricing</h2>
      <p>Features:</p>
      <ul>
        <li>60 minutes sessions (45 minutes, available on request)</li>
        <li>Postural assessment and exercise recommendation</li>
        <li>Can be done onsite, at home, or online</li>
        <li>24 hour cancellation (late cancellations, with less than 24 hour notice, are available with packages)</li>
      </ul>
      <p>Additionally, multi-session and group packages include:</p>
      <ul>
        <li>Personalized exercise plan</li>
        <li>Targeted core strengthening and posture correction</li>
        <li>Postural and movement education</li>
        <li>Build long-term strength and muscle balance</li>
        <li>Address ongoing pain and stiffness</li>
      </ul>
      <h2 class="secondary-sub-title">Individual Plans</h2>
    </div>

    <div class="cards-flex-container">
      <div class="card">
        <h3>1 Session</h3>
        <div class="price">£75</div>
        <ul>
          <li>1 private session</li>
          <li>Price depends on location</li>
        </ul>
        <a href="enquire.html?option=dentist-1-private-session" class="buy-link">Enquire Now</a>
      </div>

      <div class="card">
        <h3>8 sessions pack</h3>
        <div class="price">
          £570
          <span class="sub-price">(£71.25 per class)</span>
        </div>
        <ul>
          <li>5% less than 8 separate sessions</li>
          <li>2 late cancellations</li>
          <li>2 months expiration</li>
        </ul>
        <a href="enquire.html?option=dentist-8-private-session" class="buy-link">Enquire Now</a>
      </div>

      <div class="card">
        <h3>12 sessions pack</h3>
        <div class="price">
          £810
          <span class="sub-price">(£67.50 per class)</span>
        </div>
        <ul>
          <li>10% less than 12 separate sessions</li>
          <li>3 late cancellations</li>
          <li>3 months expiration</li>
        </ul>
        <a href="enquire.html?option=dentist-12-private-session" class="buy-link">Enquire Now</a>
      </div>
    </div>

    <div class="container" style="padding-bottom: 20px">
      <h2 class="secondary-sub-title">Team Plans (Clinics & Groups)</h2>
    </div>
    <div class="cards-flex-container">
      <div class="card">
        <h3>12 Group Sessions</h3>
        <div class="price">(max. 8 people)</div>
        <ul>
          <li>Custom group exercise plan</li>
          <li>Email for pricing and packs</li>
          <li>3 late cancellations</li>
          <li>3 months expiration</li>
        </ul>
        <a href="enquire.html?option=dentist-12-team-session" class="buy-link">Enquire Now</a>
      </div>
    </div>

    <div class="container">
      <h2 class="secondary-sub-title">Not sure which is right for you?</h2>

      <p>
        <a href="enquire.html?option=intro-call">Book a free 15-minute meeting</a> and let's talk about your goals,
        concerns, and schedule. Or <a href="#contact">contact me</a> directly.
      </p>
    </div>

    {% include 'contact.jinja' %}
  </body>
</html>
