<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.jinja' %}
    <link rel="canonical" href="https://pilateswithfilomena.com/event1">
    <title>Pilates With Filomena @ Unite Students</title>
  </head>
  <body class="secondary">
    {% include 'menu.jinja' %}
    <!--  -->
    <div class="container">
      <h1 class="secondary-title">Pilates With Filomena @ Unite Students</h1>
      <p>
        The aim of the event is to promote and clarify what Pilates is and its health benefits, while also raising
        awareness about the effects of physical inactivity on the body, particularly in the musculoskeletal system.
        Muscle conditions such as sarcopenia, physiologic muscle atrophy, and hypotonia are associated with physical
        inactivity, among other factors, and not exclusively with age. We will also discuss preventative measures to
        decrease the risks of developing these conditions.
      </p>
      <p><b>When:</b> 1st of May, 2025 from 7 PM to 8 PM.</p>
      <p>
        <b>Where:</b>
        <a href="https://maps.app.goo.gl/51pw5Vex2hDSvomf9">Unite Students, Olympic Way, Wembley Park</a>.
      </p>
      <p>
        <b>Free event. Limited space. Get your ticket </b>
        <a href="https://www.eventbrite.co.uk/e/pilates-peace-at-olympic-way-tickets-1337072442669"
          >here (eventbrite)</a
        >
        .
      </p>
      <p><b>Program:</b></p>
      <ul>
        <li>7:00 PM to 7:15 PM - Learn about Pilates benefits, why muscle health matters, and Q&A.</li>
        <li>7:15 PM to 8:00 PM - Beginner Pilates session (demo).</li>
      </ul>
      <img src="photos/pilatesatunitestudents.jpg" />
      <p style="text-align: center">
        <a href="classes">Take action: Extend your mat for your health.</a>
      </p>
    </div>

    {% include 'contact.jinja' %}
  </body>
</html>
