<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.jinja' %}
    <meta name="google-site-verification" content="IXqdbBtoTW0tTgTtKEogu_P3-Ug7OimeS41MZ76JHpA" />
    <meta name="description" content="Pilates classes in Wembley, London" />
    <title>Pilates with Filomena</title>
  </head>
  <body class="primary">
    {% with location='home' %} {% include 'menu.jinja' %} {% endwith %}

    <div class="banner" id="banner">
      <h1 id="banner-text">
        Struggling with back pain?<br />
        You need Pilates with Filomena
      </h1>
    </div>

    <!-- <div class="scrolling-banner">
      <p class="scrolling-text">
        <a href="events.html" class="no-style-link"
          >A new event has arrived! See here for details!</a
        >
      </p>
    </div> -->

    <header class="quote">
      "Physical fitness is the first requisite of happiness."
      <br />
      - Joseph Pilates
    </header>

    <div class="image-grid" id="services">
      <h1 class="image-grid-title services-title">Services</h1>

      <div class="image-grid-item">
        <a href="classes.html"><img src="photos/jessica-streser-lZtlFjRdR5I-unsplash.jpg" alt="classes" /></a>
        <header>
          <h3>Gym and Private Classes</h3>
        </header>
        <p>
          We offer a range of classes from group (gym) classes, private small group classes for workouts, to private
          individual classes ideal for ambitious goals or rehabilitation.
          <a href="classes.html">See what is available.</a>
        </p>
      </div>

      <div class="image-grid-item">
        <a href="dentists.html"><img src="photos/jonathan-borba-hl6uG9cHW5A-unsplash.jpg" alt="dentists" /></a>
        <header>
          <h3>Pilates for Dentists</h3>
        </header>
        <p>
          Repetitive movements and awkward postures place dentists at high risk for neck, back, and upper limb
          musculoskeletal disorders.
        </p>
        <p>
          Our Pilates classes can help improve posture, muscles balance, core strength, helping to reduce the risk of
          musculoskeletal injuries common in the dentistry profession.
          <a href="dentists.html">Learn more.</a>
        </p>
      </div>

      <div class="image-grid-item">
        <a href="#contact"><img src="photos/linkedin-sales-solutions-Sf91sSGjg5k-unsplash.jpg" alt="office work" /></a>
        <header>
          <h3>Corporate Pilates Classes</h3>
        </header>
        <p>
          Prolonged static postures, repetitive movements, and high-stress levels lead to muscle disorders affecting the
          back, neck, shoulders, and limbs, ranging from aches to permanent disabilities.
        </p>
        <p>
          Our Pilates classes offer a full-body workout that strengthens and stabilizes the back, core, and hips/glutes
          (often weakened by sitting), improving posture and reducing stress.
          <a href="#contact">Contact us to learn more.</a>
        </p>
      </div>

      <div class="image-grid-item">
        <a href="#contact"><img src="photos/johann-walter-bantz-HG1pkXN7SVA-unsplash.jpg" alt="boxers" /></a>
        <header>
          <h3>Pilates for Boxers</h3>
        </header>
        <p>
          Boxers often develop unilateral muscle imbalances due to power punching with their dominant side. Other
          conditions may also include thigh chest, weak core stabilizers, hip and ankle reduced mobility, to name a few.
        </p>
        <p>
          Our Pilates classes can help improve muscle symmetry, core activation and strength, including overall
          flexibility, control, mobility, and balance. Decreasing the risk of injury while increasing overall
          performance.
          <a href="#contact">Contact us to learn more.</a>
        </p>
      </div>

      <div class="image-grid-item">
        <a href="#contact"><img src="photos/michael-demoya-J99pG-3RHwc-unsplash.jpg" alt="hairdressers" /></a>
        <header>
          <h3>Pilates for Hairdressers</h3>
        </header>
        <p>
          Repetitive motions such as cutting, styling, and blow-drying can cause musculoskeletal imbalances and
          disorders. Muscle tightness, strain, neck and spine stiffness are common among hairdressers.
        </p>
        <p>
          Our Pilates classes can help prevent injuries and significantly improve quality of life by enhancing posture,
          spine mobility and stabilization, muscle symmetry, strength, and control of the back, shoulders, and limbs.
          <a href="#contact">Contact us to learn more.</a>
        </p>
      </div>
    </div>

    <header class="quote">
      "The Pilates Method of Body Conditioning develops the body uniformly, corrects posture, restores vitality,
      invigorates the mind and elevates the spirit."
      <br />
      - Joseph Pilates
    </header>

    {% include 'contact.jinja' %}

    <script>
      window.onload = function () {
        // const yellow = "rgb(250,250,0)";
        // const color = "rgb(253, 242, 40)";
        const color = "rgb(255, 255, 255)";
        // const blue = "rgb(18, 207, 169)";
        // const salmon = "rgb(255,204, 204)";

        const messages = [
          { message: "Struggling with back pain?", color: color },
          { message: "Need to fix your posture?", color: color },
          {
            message: "Want to boost your flexibility?",
            color: color,
          },
          { message: "Imbalanced muscles?", color: color },
          {
            message: "More muscle strength and tone?",
            color: color,
          },
          {
            message: "Recovering from injury?",
            color: color,
          },
          {
            message: "Feeling too stiff?",
            color: color,
          },
        ];
        const filomena = "<br/>You need Pilates with Filomena";

        var i = 0;
        const titleText = document.getElementById("banner-text");

        function styleAndNext() {
          titleText.innerHTML = messages[i].message + filomena;
          titleText.style.color = messages[i].color;
          i = (i + 1) % messages.length;
        }

        function fadeOut() {
          titleText.classList.add("fade-out");
          setTimeout(function () {
            styleAndNext();

            titleText.classList.remove("fade-out");
            titleText.classList.add("fade-in");
            fadeIn();
          }, 100);
        }

        function fadeIn() {
          setTimeout(function () {
            titleText.classList.remove("fade-in");
            titleText.classList.add("fade-out");
            fadeOut();
          }, 6000);
        }

        fadeOut();
      };
    </script>
  </body>
</html>
