<!-- MENU -->
<nav id="mini-nav">
  <!-- &#9776; -->
  <span id="nav-icon" onclick="openNav()">≡</span>
</nav>
<div id="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  {% if location != 'classes' %}
  <a href="classes">Gym Classes</a>
  {% endif %}
  {% if location != 'online-classes' %}
  <a href="online-classes">Online Classes</a>
  {% endif %}
  <a href="/#services" onclick="closeNav()">Services</a>
  {% if location != 'events' %}
  <a href="events">Events</a>
  {% endif %}
  {% if location != 'home' %}
  <a href="/">Home</a>
  {% endif %} {% if location != 'about-filomena' %}
  <a href="about-filomena">About Filomena</a>
  {% endif %} {% if location != 'our-mission' %}
  <a href="our-mission">Our Mission</a>
  {% endif %} {% if location != 'about-pilates' %}
  <a href="about-pilates">What is Pilates?</a>
  {% endif %} {% if location != 'about-faq' %}
  <a href="about-faq">FAQ</a>
  {% endif %}
  <a href="#contact" onclick="closeNav()">Contact</a>
</div>


<nav id="full-nav">
  {% if location != 'home' %}
  <a href="/">Home</a>
  {% endif %}
  <div class="dropdown">
    <a>About</a>
    <div class="dropdown-content">
      {% if location != 'about-filomena' %}
      <a href="about-filomena">About Filomena</a>
      {% endif %} {% if location != 'our-mission' %}
      <a href="our-mission">Our Mission</a>
      {% endif %} {% if location != 'about-pilates' %}
      <a href="about-pilates">What is Pilates?</a>
      {% endif %} {% if location != 'about-faq' %}
      <a href="about-faq">FAQ</a>
      {% endif %}
      <a href="#contact">Contact</a>
    </div>
  </div>
  <div class="dropdown">
    <a>Classes</a>
    <div class="dropdown-content">
      {% if location != 'classes' %}
      <a href="classes">Gym Classes</a>
      {% endif %} {% if location != 'online-classes' %}
      <a href="online-classes">Online Classes</a>
      {% endif %}
    </div>
  </div>
  <a href="/#services">Services</a>
  {% if location != 'events' %}
  <a href="events">Events</a>
  {% endif %}
</nav>
<!--  -->
