<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.jinja' %}
    <link rel="canonical" href="https://pilateswithfilomena.com/online-classes" />
    <title>Online Pilates Classes - Mat & Reformer - Pilates with Filomena</title>
    <meta
      name="description"
      content="Join Filomena's online Pilates classes and experience both Mat and Reformer workouts. Strengthen your core, improve posture, and enhance flexibility with supportive, live sessions for all levels."
    />
  </head>
  <body class="secondary">
    {% with location='online-classes' %} {% include 'menu.jinja' %} {% endwith %}

    <img src="photos/mikhall-nilov-7530023-pexels.jpg" alt="class" style="width: 100%" class="image-header" />

    <div class="container" style="padding-bottom: 0">
      <h1 style="text-align: center; font-style: italic">Nearly there, coming soon!</h1>

      <h1 class="secondary-title" style="padding-top: 0">
        Online Pilates Classes: Strengthen, Align, and Move Pain-Free
      </h1>

      <h2 class="secondary-sub-title">About our Mat and Reformer Pilates at home classes:</h2>

      <p>
        Our virtual Pilates classes offer a dynamic approach that blends classical and contemporary Pilates with
        functional training, and postural education. Designed for all fitness levels, these online sessions help you
        build strength, improve posture, and develop lasting body awareness — all from the comfort of your home.
      </p>
      <p>
        Whether you're a beginner in Pilates or an experienced practitioner, our classes focus on results. You will
        learn to move with confidence, relieve back and neck pain, increase mobility, and prevent common injuries caused
        by poor posture, repetitive movements, or/and physical inactivity.
      </p>

      <h2 class="secondary-sub-title">Who Are These Online Pilates Classes For?</h2>

      <ul>
        <li>
          Perfect for remote and office workers, beginners, busy professionals, and individuals who just want to improve
          their fitness level or needing post-rehabilitation Pilates support
        </li>
        <li>Live virtual Pilates classes are available in private formats</li>
        <li>The classes are accessible from anywhere — all you need is a mat and an internet-connected device</li>
      </ul>

      <h2 class="secondary-sub-title">Before scheduling see our class Recommendations</h2>

      <p>
        <b>L1 - Beginner Pilates - Foundations Class - Mat/Reformer</b> Ideal for absolute beginners or anyone new to
        Pilates. Learn the core principles of Pilates, improve body awareness, and build a solid movement foundation. No
        equipment is required - classes are fully mat-based and accessible.
        <br />
        If you are starting with the reformer, the same principles apply; however, please note that L1 Functional
        Reformer classes can be more challenging.
      </p>

      <p>
        <b>L2 - Intermediate Pilates - All Levels - Mat/Reformer</b> Designed for those with prior Pilates experience
        and a foundational understanding of the practice. This level focuses on refining technique while improving core
        strength, posture, and flexibility through more challenging functional movements. Progressions and regressions
        are provided to accommodate different fitness levels.
      </p>

      <p>
        <b>L3 - Advanced Pilates - Mat/Reformer</b> Recommended for clients with at least one year of consistent Pilates
        practice (2-3 times per week). This class features advanced mat and reformer sequences with an emphasis on
        control, endurance, and fluidity of movement.
        <br />
        For L3 you need to meet the physical criteria. Please <a href="#contact">contact us</a> for consultation.
      </p>

      <p style="margin-bottom: 0">
        <b>Specialized offerings:</b>
      </p>
      <ul style="margin-block-start: 0.3em">
        <li>
          Pilates for Conditions: Tailored for individuals managing chronic pain, with sensitive joints, recovering from
          injury, or addressing specific musculoskeletal conditions.
        </li>
        <li>
          <b>See other specialized offers:</b>
          <ul>
            <li><a href="posture-pro">posture-pro program</a></li>
            <li><a href="rehabilitation-pilates">rehabilitation and post-rehabilitation</a></li>
          </ul>
        </li>
      </ul>

      <p style="margin-bottom: 0"><b>Each class includes:</b></p>
      <ul style="margin-block-start: 0.3em">
        <li>60min Full-body Pilates-based workouts</li>
        <li>Build total-body strength and endurance</li>
        <li>Stretching and mobility exercises</li>
        <li>Core strengthening and body alignment techniques</li>
        <li>Breathwork for stress relief and body control</li>
      </ul>

      <h1 style="margin-top: 40px; margin-bottom: 10px">Ready to take action?</h1>
    </div>
    <div class="container" style="padding-bottom: 0px">
      <p>
        <b>Please be mindful that filling in your <a href="parq">PAR-Q</a> is mandatory.</b> You will not be accepted in
        class if you have not filled the PAR-Q.
      </p>
      <br />
      <h2>Mat and Reformer - Booking and Prices</h2>
    </div>

    <div class="cards-flex-container">
      <div class="card">
        <h3>1 Mat Class</h3>
        <div class="price">£10</div>
        <ul>
          <li>Choose from L1, L2, and Pilates for Conditions classes</li>
          <li>24 hour cancellation</li>
        </ul>
        <a class="buy-link">Coming Soon!</a>
      </div>

      <div class="card">
        <h3>Mat Welcome Offer:<br />Buy 2 get 1 free</h3>
        <div class="price">
          £20
          <span class="sub-price">(£6.67 per class)</span>
        </div>
        <ul>
          <li>New clients only</li>
          <li>Choose from L1, L2, and Pilates for Conditions classes</li>
          <li>24 hour cancellation</li>
          <li>1 month expiration</li>
        </ul>
        <a class="buy-link">Coming Soon!</a>
      </div>

      <div class="card">
        <h3>Standard Mat Class Pack</h3>
        <div class="price">£30</div>
        <ul>
          <li>1 month access to all L1 and L2 mat classes</li>
          <li><b>For students: £20</b></li>
        </ul>
        <a class="buy-link">Coming Soon!</a>
      </div>

      <div class="card">
        <h3>Premium Mat Class Pack</h3>
        <div class="price">£45</div>
        <ul>
          <li>1 month access to all L1, L2, L3, and Pilates for Conditions classes</li>
          <li>L3 requires prior assessment</li>
        </ul>
        <a class="buy-link">Coming Soon!</a>
      </div>

      <div class="card">
        <h3>Premium All Classes Pack</h3>
        <div class="price">£85</div>
        <ul>
          <li>1 month access to all mat and reformer classes</li>
          <li>L3 requires prior assessment</li>
        </ul>
        <a class="buy-link">Coming Soon!</a>
      </div>

      <div class="card">
        <h3>1 Reformer Class</h3>
        <div class="price">£20</div>
        <ul>
          <li>Choose from L1 and L2 classes</li>
          <li>24 hour cancellation</li>
        </ul>
        <a class="buy-link">Coming Soon!</a>
      </div>

      <div class="card">
        <h3>Standard Reformer Class Pack</h3>
        <div class="price">£55</div>
        <ul>
          <li>1 month access to all L1 and L2 classes</li>
        </ul>
        <a class="buy-link">Coming Soon!</a>
      </div>
    </div>

    <div class="container" style="padding-bottom: 0px">
      <h2>Private Classes</h2>
    </div>
    <div class="cards-flex-container">
      <div class="card">
        <h3>1 class</h3>
        <div class="price">£75</div>
        <ul>
          <li>1-2-1 coaching</li>
          <li>60 minutes session</li>
          <li>24 hour cancellation</li>
        </ul>
        <a href="enquire?option=1-private-class" class="buy-link">Enquire Now</a>
      </div>
      <div class="card">
        <h3>8 classes - 5% off</h3>
        <div class="price">
          £570
          <span class="sub-price">(£71.25 per class)</span>
        </div>
        <ul>
          <li>Bespoke exercise plan</li>
          <li>2 months expiration</li>
          <li>24 hour cancellation</li>
          <li>1 late cancellation</li>
        </ul>
        <a href="enquire?option=8-private-classes" class="buy-link">Enquire Now</a>
      </div>
      <div class="card">
        <h3>12 classes - 10% off</h3>
        <div class="price">
          £810
          <span class="sub-price">(£67.50 per class)</span>
        </div>
        <ul>
          <li>Bespoke exercise plan</li>
          <li>3 months expiration</li>
          <li>24 hour cancellation</li>
          <li>2 late cancellations</li>
        </ul>
        <a href="enquire?option=12-private-classes" class="buy-link">Enquire Now</a>
      </div>
    </div>

    {% include 'contact.jinja' %}
  </body>
</html>
