<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.jinja' %}
    <title>Our Mission - Pilates with Filomena</title>
  </head>
  <body class="secondary">
    {% with location='our-mission' %} {% include 'menu.jinja' %} {% endwith %}

    <div class="container">
      <h1 class="secondary-title">Our Mission:</h1>
      <p>
        We focus on a holistic approach to the body-mind connection through sports and well-being. Our two main areas of
        emphasis are: developing muscular strength (quality) to prevent muscular conditions (sarcopenia, synergistic
        dominance, physiologic muscle atrophy, hypotonia, etc.) and supporting individuals in
        rehabilitation/post-rehabilitation, especially those experiencing muscle imbalance, atrophy, or loss due to
        mechanical reasons.
      </p>
      <p>
        We raise crucial awareness, particularly among women, about the significant impact of muscle conditions
        resulting from physical inactivity, inadequate stress management, sedentary lifestyles, and the demands of jobs
        involving repetitive movements and/or awkward postures (such as those of hairdressers, office workers, and
        dentists).
      </p>
      <p>
        Recognizing the biological predisposition of women to lower muscle mass, which increases their vulnerability the
        conditions described above. These debilitating conditions can severely affect their physical, social, mental,
        and financial independence, with particularly devastating consequences for lower-income families.
      </p>
      <p>
        By providing a science-based approach complemented by Pilates practice, we create an empowering space for
        information and knowledge. This enables individuals, both men and women, to proactively prevent and effectively
        manage these conditions, ultimately promoting greater independence, improved health outcomes, and a higher
        overall quality of life.
      </p>
    </div>

    {% include 'contact.jinja' %}
  </body>
</html>
