<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.jinja' %}
    <link rel="canonical" href="https://pilateswithfilomena.com/qr-codes" />
    <title>QR Codes - Pilates with Filomena</title>
  </head>
  <body class="secondary">
    {% include 'menu.jinja' %}

    <div class="container">
      <h1 class="secondary-title">QR Codes</h1>

      <h2 class="secondary-sub-title">Website</h2>

      <figure>
        <img src="misc/pilateswithfilomena.png" alt="Pilates with Filomena" />
        <figcaption>Links to <a href="https://pilateswithfilomena.com">pilateswithfilomena.com</a>.</figcaption>
      </figure>

      <h2 class="secondary-sub-title">PAR-Q Form</h2>

      <figure>
        <img src="misc/parq.png" alt="PAR-Q Form" />
        <figcaption>Links to <a href="https://pilateswithfilomena.com/parq">PAR-Q form</a>.</figcaption>
      </figure>

      <h2 class="secondary-sub-title">Contacts vCard</h2>

      <figure>
        <img src="misc/vcard.png" alt="Contacts" />
        <figcaption>
          Contains <a href="misc/card.vcf">vCard</a> to easily create a new contact with all our details.
        </figcaption>
      </figure>
    </div>

    {% include 'contact.jinja' %}
  </body>
</html>
