<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.jinja' %}
    <link rel="canonical" href="https://pilateswithfilomena.com/rehabilitation-pilates" />
    <meta
      name="description"
      content="Safe, personalized Pilates for injury recovery, chronic pain or muscle imbalances in Wembley or online. Regain core strength, mobility and confidence with expert support."
    />
    <title>Rehabilitation Pilates - Pilates with Filomena</title>
    <style>
      h2 {
        margin-top: 40px;
      }
    </style>
  </head>
  <body class="secondary">
    {% include 'menu.jinja' %}

    <img src="photos/yan-krukau-5793920-pexels.jpg" alt="rehabilitation" style="width: 100%" class="image-header" />

    <div class="container" style="padding-bottom: 20px">
      <h1 class="secondary-title" style="padding-top: 0">
        Injury Rehabilitation & <span style="white-space: nowrap">Post-Rehabilitation</span> Pilates
      </h1>

      <p>
        Recover stronger and move with confidence through our personalized Pilates-based injury rehabilitation programs.
        Whether you are healing from an injury or dealing with chronic pain, our approach blends functional movement,
        posture and movement correction, and modified contemporary and classical Pilates exercises to build overall body
        stability, endurance and strength to support a safe and sustainable recovery or/and post-recovery.
      </p>

      <p>Our <b>Pilates programs</b> are designed to:</p>

      <ul>
        <li>Rebuild strength and stability in weakened areas</li>
        <li>Improve joint mobility and muscle control</li>
        <li>Reduce pain and prevent future injuries</li>
        <li>Restore healthy movement patterns</li>
        <li>Support long-term physical independence</li>
      </ul>

      <p>
        Every session is designed around your unique condition and goals. Using chair, standing, mat, and reformer
        Pilates, exercises are adapted to your ability level to ensure safe, effective progress. You can choose from
        private Pilates rehabilitation sessions in person (London, UK) or online, making it flexible and accessible
        wherever you are.
      </p>

      <p>
        We can work closely with your healthcare/therapist provider when needed to ensure that your Pilates program
        complements your medical recovery plan.
      </p>

      <p><b>Ideal for</b>:</p>

      <ul>
        <li>Back, neck and shoulder tension/pain</li>
        <li>Joint instability, injury, osteoarthritis and replacement</li>
        <li>Muscle imbalances</li>
        <li>Physiological Muscle atrophy - hypotonia and hypotrophy</li>
      </ul>

      <h2>Why Choose Pilates with Filomena for Rehabilitation?</h2>

      <p>
        You might be wondering, "Why should I trust you?" I've been where you are. I created this program after healing
        from physiological muscle atrophy and chronic back pain both related to my work and a sedentary lifestyle.
        Pilates changed my life, and now I help others do the same.
        <a href="about-filomena">Read my full story here</a>.
      </p>

      <p>
        Pilates is a flexible method that offers a low-impact, evidence-based way to improve functional strength,
        posture, and coordination after injury. With a focus on body awareness and controlled movement powerful tool for
        recovery and injury prevention.
      </p>

      <p>
        <b>Start your recovery journey today</b> with holistic guidance, tailored progressions, and ongoing support —
        <b>in-person (UK, London based) or online (coming soon)</b>.
      </p>

      <p>
        For booking call us on <a href="tel:+447379841186">+44 7379 84 11 86</a> or email us at
        <a href="mailto:info@pilateswithfilomena.com">info@pilateswithfilomena.com</a>
      </p>
      <p>Explore our Prices here:</p>
    </div>

    <div class="cards-flex-container">
      <div class="card">
        <h3>1 Session</h3>
        <div class="price">£75</div>
        <ul>
          <li>1-2-1 assessment and coaching</li>
          <li>60 minutes session</li>
          <li>24 hour cancellation</li>
        </ul>
        <a href="enquire?option=1-private-class" class="buy-link">Enquire Now</a>
      </div>
      <div class="card">
        <h3>8 Sessions - 5% off</h3>
        <div class="price">
          £570
          <span class="sub-price">(£71.25 per class)</span>
        </div>
        <ul>
          <li>Bespoke exercise rehabilitation or post rehab plan</li>
          <li>2 months expiration</li>
          <li>24 hour cancellation</li>
          <li>1 late cancellation</li>
        </ul>
        <a href="enquire?option=8-private-classes" class="buy-link">Enquire Now</a>
      </div>
      <div class="card">
        <h3>12 Sessions - 10% off</h3>
        <div class="price">
          £810
          <span class="sub-price">(£67.50 per class)</span>
        </div>
        <ul>
          <li>Bespoke exercise rehabilitation or post rehab plan</li>
          <li>3 months expiration</li>
          <li>24 hour cancellation</li>
          <li>2 late cancellations</li>
        </ul>
        <a href="enquire?option=12-private-classes" class="buy-link">Enquire Now</a>
      </div>
    </div>

    {% include 'contact.jinja' %}
  </body>
</html>
