<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.jinja' %}
    <link rel="canonical" href="https://pilateswithfilomena.com/terms-and-conditions" />
    <title>Terms and conditions - Pilates with Filomena</title>
  </head>
  <body class="secondary">
    {% include 'menu.jinja' %}

    <div class="container">
      <h1 class="secondary-title">Terms and Conditions</h1>

      <h2 class="secondary-sub-title">v1.0 - 14 September 2025:</h2>
      <ol>
        <li>All in-person classes are at Wembley Fitness Gym's Studio.</li>
        <li>
          You can cancel or reschedule a class up to 24 hours before the class' start time. Otherwise you will be
          charged the class price.
        </li>
        <li>
          If you arrive late to class and after the warm-up period, you will not be able to join due to the high risk of
          injury and strain.
        </li>
        <li>Only grip socks or barefoot are allowed on the mat for safety reasons.</li>
        <li>
          If you need to make or receive an urgent phone call during class, please set your phone to vibrate. Step
          outside to take the call and then return to the classroom once you've finished.
        </li>
      </ol>
    </div>

    {% include 'contact.jinja' %}
  </body>
</html>
